body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
.welcomePage {
    /* background-image: url('./assets/images/drinks-01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 100px;
}
.welcomeBox {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 600px;
}
.catalog {
    justify-content: center;
    align-items: start;
    display: flex;
}

.shoppingCart {
    -webkit-box-shadow: 6px 7px 5px 0px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 6px 7px 5px 0px rgba(0, 0, 0, 0.63);
    box-shadow: 6px 7px 5px 0px rgba(0, 0, 0, 0.63);
}
hr {
    margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 0px;
}
.noMargin {
    margin-bottom: 0;
}
.pointer {
    cursor: pointer;
}
.title {
    font-family: 'Lemonada', cursive;
    color: #40a9ff;
}
.ant-card-body {
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.ant-card-meta-title {
    overflow: hidden;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 900;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 4px;
}
.col-4 {
    text-align: center;
}
.links {
    text-decoration: none;
    color: #000000;
}
.row {
    margin: 0px;
}
